.about__inner {
  .about__item {
    padding-top: 10vw;
    .text {
      color: var(--white);
      h3 {
        font-size: 36px;
        padding-bottom: 2vw;
        font-family: var(--kor_font);
        font-weight: 700;
      }
      p {
        font-size: 18px;
        font-family: var(--subKor_font);
      }
    }
  }
}
.item1 {
  .img {
    padding-bottom: 5vw;
  }
  .text {
    width: 70%;
  }
}
.item2 {
  display: flex;
  .img {
    width: 60%;
    padding-right: 2vw;
  }
  .text {
    width: 40%;
  }
}
.item3 {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 10vw;
  .img {
    width: 60%;
    padding-left: 2vw;
  }
  .text {
    width: 40%;
  }
}
// 라이트 버전
.about__cont.light {
  background-color: var(--white);
  .text {
    color: var(--black);
  }
}

// 애니메이션
.about__inner {
  opacity: 0;
  transform: translateX(10px) translateY(50px);
}
